Django
boto3
botocore
chardet
colorama
dj-database-url
django-forms-bootstrap
django-storages
docutils
gunicorn
html5lib
jmespath
olefile
python-dateutil
pytz
requests
s3transfer
six
stripe
urllib3
wheel